﻿@{
    ViewData["Title"] = "AWS SAMPLE for MVC & WEB API Sample App";
}

<div class="row">
    <div class="col-md-6">
        <h2>Invoices (MVC)</h2>
        <ul>
            <li><a asp-area="" asp-controller="Invoice" asp-action="Index">Invoice List</a></li>
            <li><a asp-area="" asp-controller="Invoice" asp-action="GetUnpaid">Unpaid Invoice List</a></li>
            <li><a asp-area="" asp-controller="Invoice" asp-action="PayInvoice"> Pay Invoice</a></li>
            <li><a asp-area="" asp-controller="Invoices" asp-action="List"> Get Invoices no Auth</a></li>
            <li><a asp-area="" asp-controller="InvoicesAuth" asp-action="ListAuth"> Get invoices Auth</a></li>
            <li><a asp-area="" asp-controller="InvoicesAuth" asp-action="ListAuthWithToken"> Get invoices Auth with token</a></li>

        </ul>
    </div>
    <div class="col-md-6">
        <h2>Tools</h2>
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
    </div>
</div>
