﻿@{
    ViewData["Title"] = "ToDo List";
}
@model IEnumerable<SampleApp.PresentationLayer.ApiModels.InvoiceDTO>
<h2>To Do Items (MVC View)</h2>
@{
    var index = 0;
    foreach (var invoice in Model)
     {
         @await Html.PartialAsync("_InvoiceTemplate", invoice, new ViewDataDictionary(ViewData) { { "index", index } })
         index++;
     }
}
