﻿@model SampleApp.Web.Models.Invoice.PayInvoiceModel

@{
    ViewData["Title"] = "PayInvoice";
}

<h2>Pay invoice</h2>

@using (Html.BeginForm("PayInvoice", "Invoice", FormMethod.Post))
{

    @Html.DropDownListFor(m => m.InvoiceId, Model.Invoices)
    <input type = "submit" value = "Send" />
}




